.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  margin: 0;
  font-family: Spartan;
}

#banner {
  display: block;
  height: 156px;
  width: 100%;
  background-color: hsl(180, 29%, 50%);
}

#desktop-banner {
    display: none;
}

#job-container {
  margin: 50px 20px;
}

.job-item {
  position: relative;
  padding: 15px;
  padding-top: 0;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border-radius: 5px;
 
  box-shadow:  hsla(180, 29%, 50%, 0.5) 0px 5px 15px;
}

.job-item:nth-child(-n + 2) {
  border-left: 5px solid hsl(180, 29%, 50%);
}

.job-logo-container {
  margin-bottom: 35px ;
}
.job-logo {
  position: absolute;
  left: 15px;
  top: -25px;
  width: 50px;
  height: auto;
}

.job-item-head {
  display: flex;
  flex-direction: row;
  height: auto;
}

.job-item-head p {
  margin: 0;
  margin-right: 10px;
}

.company-name {
  font-weight: 700;
  font-size: 12px;
  color:  hsl(180, 29%, 50%);
  align-self: center;
}

.bubble {
  border-radius: 15px;
  color: white;
  font-size: 9px;
  font-weight: 700;
  padding: 5px;
  text-transform: uppercase;
}

.new {
  width: fit-content;
  background:  hsl(180, 29%, 50%);
  align-self: center;
}
.featured {
  width: fit-content;
  background: hsl(180, 14%, 20%);
  align-self: center;
}

.job-title p{
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  margin-top: 10px;
  cursor: pointer;
}
.job-title p:hover {
  color:  hsl(180, 29%, 50%);
}

.job-details p{
  font-weight: 700;
  font-size: 10px;
  margin: 0;
  margin-top: 15px;
  padding-bottom: 20px;
  color: gray;
  border-bottom: 1px solid gray;
}

.data-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
}

.tags {
  padding: 8px;
  margin-right: 12px;
  margin-bottom: 15px;
  border-radius: 3px;
  background-color: hsl(180, 31%, 95%);
  font-size: 10px;
  color:  hsl(180, 29%, 50%);
  font-weight: 700;
  cursor: pointer;
}

.tags:hover {
  background-color:  hsl(180, 29%, 50%);
  color: white;
}

@media only screen and (min-width: 376px) {
  #mobile-banner {
    display: none;
}

#desktop-banner {
    display: block;
    width: 100%;
}
}
@media only screen and (min-width: 768px){
  #job-container {
    margin: 100px;
  }
  #mobile-banner {
      display: none;
  }

  #desktop-banner {
      display: block;
      width: 100%;
  }

  .job-item {
    display: grid;
    grid-template-columns: 100px auto auto;
    padding: 25px;
    margin-bottom: 30px;
  }
  
  .job-logo-container {
      margin-bottom: 0;
  }

  .job-logo {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  .center-div {
    display: grid;
    grid-template-rows: 36px 36px 36px;
    margin-left: 20px;
  }

  .job-title{
    margin-top: auto;
    margin-bottom: auto;
  }
  .job-title p {
    margin-top: 0;
  }

  .job-details p{
    padding-bottom: 0;
    border-bottom: none;
    margin-top: 0;
  }

  .job-title p {
    font-size: 16px;
  }

  .bubble {
    font-size: 10px;
  }

  .tags,
  .company-name,
  .job-details p {
    font-size: 13px;
  }

  .data-tags {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    padding: 0;
    justify-self: end;
  }

  .tags {
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 12px;
    gap: 20px;
  }
}